/*/build/*
/*/bin/*
*.prefs
.settings
/.settings
*.class
/hs_err_pid21097.log
/hs_err_pid21738.log
/hs_err_pid21839.log
/hs_err_pid22008.log
/hs_err_pid22302.log
/hs_err_pid23063.log
/hs_err_pid15752.log
